/* Here override bootstrap colors */

$primary:       #2596be;
$secondary:     #2596be;
$success:       #2596be;
$info:          #2596be;
$warning:       #2596be;
$danger:        #2596be;
$light:         #2596be;
$dark:          #2596be;