/* Here override bootstrap colors */

$primary:       #290f00;
$secondary:     #ff0000;
// $success:       #2596be;
$info:          #2596be;
// $warning:       #d42525;
// $danger:        #2596be;
$light:         #ffffff;
$dark:          #1e1200;

@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";