<!-- <img class="top-0 start-0 w-100 h-auto" src="../../assets/img/banner.jpg"> -->
<div id="ctnMain" class="w-100 h-100 m-0">
    <div class="my-bg-gradient h-100 w-50 p-5">
        <h1 class="mb-5 mt-5 text-light">Wrath of the Lich King</h1>
        <p class="text-light">
            The nostalgic retail-like experience. Adventure into the heart of Morthrend to fight against
            the undead army. Find new allies and be part of guilds. Enter dungeons for great loot and iconic stories.
            Everything is possible on KikiWOW. Our staff delivers original 1x rates and bug-free experience for you to enjoy.
        </p>
    </div>

</div>
