<h1 class="mb-5 text-light">Wrath of the Lich King</h1>
<p>
    The nostalgic retail-like experience. Adventure into the heart of Northrend to fight against
    the undead army. Find new allies and be part of guilds. Enter dungeons for great loot and iconic stories.
    Everything is possible on KikiWOW. Our staff delivers original 1x rates and bug-free experience for you to enjoy.
</p>

<div class="h-auto w-100 pt-5">
    <h1>News</h1>
    <div *ngFor="let item of news" class="card my-2 bg-dark">
        <div class="card-body">
            <h5 class="card-title text-white">Changelog #{{item.id}}</h5>
            <p class="card-text text-white">
                {{item.description}}
            </p>
        </div>
    </div>
</div>