/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$bg-grad1: rgba(#000000, 0);
$bg-grad2: rgba(#000000, 1);
.my-bg {
    min-height: 100vh;
    background-image: radial-gradient($bg-grad1 50%, $bg-grad2), url("/assets/img/banner.jpg");
    background-attachment: fixed;
}

$card-grad1: rgba($primary, .5);
$card-grad2: rgba($primary, .0);
.my-gradient {
    background-image: linear-gradient(to right, $card-grad1 50%, $card-grad2);
}