/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$bg-grad1: rgba(#000000, 0);
$bg-grad2: rgba(#000000, 1);
#my-bg {
    min-height: 100vh;
    background-image: radial-gradient($bg-grad1 25%, $bg-grad2), url("/assets/img/banner.jpg");
    background-attachment: fixed;
    color: $light;
}

$topbarHeight: 50px;

#topbar {
    height:$topbarHeight;
    z-index: 9999;
}

#my-content {
    color: $light;
    min-height: calc(100% - $topbarHeight);
    min-width: 500px;
    margin-top: $topbarHeight;
}

#main-row {
    background-image: linear-gradient(to right, #ffffff00 0%,  #010101ab 20%, #010101ab 80%, #ffffff00 );
    min-height: 100%;
    min-width: 500px;
}