<h1 class="mb-5 text-center">{{user.username}}</h1>

<form class="mb-3">
    <div class="mb-3 d-flex justify-content-center">
        <img class="form-control" 
        src="assets/img/default-profile-pic.jpg" 
        alt="profile-pic" 
        id="profilePic"
        style="width:250px; height:250px;">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description [max. 500 characters]</label>
        <textarea style="resize: none;"
            class="form-control" 
            aria-label="With textarea" cols="5" rows="10"
            id="description" 
            placeholder="Enter description."
            maxlength="500"></textarea>
    </div>
    <div class="mb-3">
        <label for="birthdate" class="form-label">Birthdate</label>
        <input type="date" class="form-control" id="birthdate">
    </div>
    <div class="mb-3">
        <label for="birthdate" class="form-label">Creation date</label>
        <input type="date" class="form-control" id="birthdate" readonly="true">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="passwordConfirm">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/" class="btn btn-warning">Logout</a>